
<h2>The definition of <%= @word.word %> :</h2>
<%= @word.word_definition %></h3>


<!-- <h2>Enter another definition for the word here:</h2>

<div class="form-group">
    <label for='word'></label>
    <input name="add_def" class="form-control" type="text">
</div>
<button type="submit" class="btn-success">Add your second definition here:</button>
</form> -->
