
<h2>Write your definition of <%= @word.word %>  here:</h2>


<form action='/results/<%= @word.id %>' method="post">
<div class="form-group">
    <label for='word_definition'></label>
    <input name="word_definition" class="form-control" type="text">
</div>
<button type="submit" class="btn-success">Add your definition here:</button>
</form>
